
<!-- ### What does a component consist of? ### -->
<!-- Component decorator allows you to mark a class as an Angular component and provide additional metadata that determines how the component should be processed, instantiated and used at runtime.

It consist of a selector,template, and a style. -->

<!-- ### How does angular know that a component class is special? ###
Angular will recognize a component when it is included in the ngModule so it can function in the app. -->


<!-- ###Command to create a new component?###
To generate a new component the user must enter "ng g c (name here)" in git bash terminal -->

<!-- ### Ways to select a component?###
you use the input/output decorators -->

<!-- ###Ways to link a template?###
inline and external same with styles template -->

<greeting-message></greeting-message>




