<!-- ### What is a directive? ### 
A directive is a custom HTML element that is used to extend the power of HTML. -->

<!-- ###Two types of directives?###
ngfor and ngif -->
<!-- 
Some of basic built-in directives?
ng-href
ng-src
ng-disabled
ng-checked
ng-readonly
ng-selected
ng-class
ng-style -->



<p *ngIf="!displayParagraph" [ngStyle]="{'background-color':'red', 'position': 'absolute'
,'right':'0'
, 'top': '0'}">Example text test</p>


<p ngClass= {{colorRed }} > string </p>

<p ngClass= {{arr[0]}}>    array </p>
