
<!-- ### What is a Class?###

Classes inherit functionality and objects and complies them in javastript that will be compatible with major browsers. -->



<!-- 
### What can a Class Definition Include? ###

The class include a proprety a constructor and a method.  -->


<!-- ### What is Class inheritance?###

It inherits propreties and methods from a base Class using from an "Extend" keyword.
It Extends functionality from the base Class. -->

<!-- ### SubClass and SuperClass ###

Derived classes are often called subclasses, and base classes are often called superclasses. -->

<!-- ###Private, Public and Protected.###  

Public can be accessed about side the containing class.
Private can not be accessed outside the containing class
protected is similiar to private however it can be access from the deviring classes. -->

<!-- the console wont work when make is set to private, it wont have access outside that containing class.
When set to protected the field will work becuase it is allowed to have access from the base class. -->


